<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eco Herbário</title>
    <link rel="icon" href="folhaicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="../css/iniciostyle.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="login.html">Login</a></li>
                <li><a href="#plantas">Plantas</a></li>
            </ul>
        </nav>
        <img src="../css/linhaverde.png" alt="Linha Verde" class="linha-verde">
    </header>

    <section class="hero parallax">
        <h1><span class="eco">Eco</span> <br> <span class="herbario">Herbário</span></h1>
        <p>www.ecoherbariosesi.com.br</p>
    </section>

    <!-- Seção Plantas -->
    <section class="plantas" id="plantas">
        <h2>EXPLORE O MUNDO VERDE COM NOSSO<br>HERBÁRIO VIRTUAL!</h2>
        <div class="cards">
            <div class="card">
                <div class="card-background" id="card-image-1" style="background-image: url('../css/tropicais.jpg');"></div>
                <div class="card-content">
                    <h3>Plantas Tropicais</h3>
                    <p>Conheça a diversidade das plantas tropicais.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-background" id="card-image-2" style="background-image: url('../css/temperadas.jpg');"></div>
                <div class="card-content">
                    <h3>Plantas Temperadas</h3>
                    <p>Explore as plantas que prosperam em climas temperados.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-background" id="card-image-3" style="background-image: url('../css/ornamentais.jpg');"></div>
                <div class="card-content">
                    <h3>Plantas Ornamentais</h3>
                    <p>Descubra as plantas usadas para embelezar ambientes.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-background" id="card-image-4" style="background-image: url('../css/medicinais.jpg');"></div>
                <div class="card-content">
                    <h3>Plantas Medicinais</h3>
                    <p>Saiba mais sobre as plantas com propriedades medicinais.</p>
                </div>
            </div>
        </div>
    </section>

    <script src="script.js"></script>
</body>
</html>
